footer p {
	color: #929292;
}

h1 {
	color: #fff;
	margin: 70px 0 50px;
	text-align: center;
}

p {
	color: #fff;
	text-align: center;
}

.btn-primary {
	margin: 10px 30px 50px;
}

.center {
	text-align: center;
}

.container {
	text-align: center;
}

.custom-container {
	margin-top: 50px;
	padding: 20px 50px;
}

.zenith-logo {
	margin: 70px 0 60px;
}