footer p {
	color: #929292;
}

h2 {
	color: #fff;
	margin: 70px 0 0;
}

p {
	color: #fff;
}

.btn-primary {
	font-weight: bold;
	margin: 10px 0 20px;
	padding: 10px 30px;
}

.capabilities-title {
	background-color: #fff;
	color: #000;
	display: inline-block;
	margin: 0;
	padding: 10px;
	position: relative;
	text-transform: uppercase;
	top: 100px;
}

.center {
	margin: 30px 0 60px;
}

.col-md-12 {
	padding-bottom: 10px;
	padding-top: 25px;
}

.container {
	text-align: center;
}

.gray {
	background-color: #252525;
}

.navbar .container {
	text-align: left;
}


@media screen and (min-width: 375px) {

	.capabilities-title {
		top: 120px;
	}
}

@media screen and (min-width: 425px) {

	.capabilities-title {
		top: 130px;
	}
}

@media screen and (min-width: 768px){

	.capabilities-title {
		font-size: 0.8rem;
		font-weight: bold;
		padding: 9px;
		top: 80px;
	}	

	.col-md-4 {
		padding: 0
	}

	.row {
		padding: 0 15px;
	}

	.text-box {
		height: 243px;
	}
}

@media screen and (min-width: 992px) {
	
	.capabilities-title {
		top: 105px;
	}

	.text-box {
		height: 195px;
	}
}

@media screen and (min-width: 1440px) {

	.capabilities-title {
		font-size: 1rem;
		top: 125px;
	}	

	.text-box {
		height: 170px;
	}
}