footer p {
	color: #929292;
}

h2 {
	color: #fff;
	margin: 70px 0 30px;
}

p {
	color: #fff;
}

.btn-primary {
	font-weight: bold;
	margin: 10px 0 20px;
	padding: 10px 30px;
}

.center {
	margin: 30px 0 60px;
}

.col-md-12 {
	padding-bottom: 10px;
	padding-top: 25px;
}

.container {
	text-align: center;
}

.gray {
	background-color: #252525;
}

.navbar .container {
	text-align: left;
}


@media screen and (min-width: 768px){

	.col-md-4 {
		padding: 0
	}

	.row {
		padding: 0 15px;
	}

	.text-box {
		height: 243px;
	}
}

@media screen and (min-width: 1024px) {

	.text-box {
		height: 195px;
	}
}

@media screen and (min-width: 1440px) {

	.text-box {
		height: 170px;
	}
}