h2 {
	color: #fff;
	padding: 90px 0 50px;
	text-align: center;
}

input[type="name"],
input[type="email"],
textarea[type="text"] {
	background-color: #252525;
	border: none;
	color: #fff;
}

input[type="name"]:focus,
input[type="email"]:focus,
textarea[type="text"]:focus {
	background-color: #252525;
	color: #fff;
}

label, p {
	color: #fff;
}

.footer-custom {
	bottom: 0;
	position: absolute;
	width: 100%;
}

footer p {
	color: #929292;
}

.container {
	padding-bottom: 50px;
}

.container p {
	font-family: 'Times New Roman', serif;
}


/************************************
	MEDIA QUERIES
************************************/

@media screen and (max-width: 415px) {

	.col-md-5 {
		margin-top: 50px;
	}

	.footer-custom {
		position: static;
	}
}