/************************************
	FOOTER
************************************/

.fab {
	background-color: #202020;
	border-radius: 50%;
	padding: 7px;
}

.footer-custom {
	background-color: #252525;
}

.footer-custom,
.footer-custom div ul li a {
	color: #929292;
}