/************************************
	NAVBAR
************************************/

.navbar-custom {
	background-color: #252525;
}

.navbar-custom .collapse .navbar-nav .nav-item .nav-link {
	color: #fff;
	text-transform: uppercase;
}

.navbar-custom .collapse .navbar-nav .nav-item .active {
	color: #ff6c00;
}

.navbar-custom .collapse .navbar-nav .nav-item .nav-link:hover {
	color: #ff6c00;
}