a:hover {
	text-decoration: none;
}

h2 {
	font-size: 1.7rem;
	padding: 70px 0 20px;
	text-align: center;
}

h4 {
	font-size: 1.2rem;
	margin-top: 21%;
	text-align: center;
}

p {
	margin-bottom: 0;
}

.btn-primary {
	background-color: #fff;
	border: 3px solid #000;
	color: #000;
	font-size: 0.7rem;
	text-transform: uppercase;
}

.btn-primary:focus,
.btn-primary:hover {
	background-color: #ff6c00;
	border: 3px solid #ff6c00;
	color: #fff;
}

.center {
	margin: 40px 0;
	text-align: center;
}

.col-md-4 {
	height: 9rem;
}

.company {
	color: #000;
	font-weight: bold; 
	text-transform: uppercase;
}

.custom-container a {
	color: #fff;
}

.custom-container {
	background-color: #111;
	color: #fff;
	padding: 40px 20px;
	text-align: center;
}

.img-thumbnail {
	border: none;
	margin-bottom: 10px;
}

.navbar-custom {
	background-color: #111;
}

.work-offered,
.work-offered:focus,
.work-offered:hover {
	color: #929292;
}

.work-offered, .company {
	font-size: 0.8rem;
}

#brand-strategy {
	background-image: url(../images/homepage/homepage_brandstrategy-identity.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	color: #fff;
}

#copyright {
	font-size: 14px;
}

#video {
	background-image: url(../images/homepage/homepage_videophotography.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	color: #fff;
}

#website {
	background-image: url(../images/homepage/homepage_website-digital.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	color: #fff;
}


@media screen and (min-width: 375px) {

	.col-md-4 {
		height: 10rem;
	}
}

@media screen and (min-width: 425px) {
	.col-md-4 {
		height: 11rem;
	}
}

@media screen and (min-width: 768px) {
	
	h4 {
		margin-top: 40%;
	}

	.col-md-4 {
		height: 13rem;
	}
}

@media screen and (min-width: 992px) {

	h4 {
		margin-top: 36%;
	}

	p,
	.custom-container a {
		font-size: 1.2rem;
	}

	.col-md-4 {
		height: 15rem;
	}

	.custom-container {
		padding: 60px 20px;
	}
}

@media screen and (min-width: 1275px) {

	h2 {
		padding: 90px 0 30px;
	}

	.col-md-4 {
		height: 20rem;
	}
}

@media screen and (min-width: 1440px) {

	p,
	.custom-container a {
		font-size: 1.3rem;
	}
}

@media screen and (min-width: 1650px) {

	h2 {
		font-size: 1.9rem;
	}

	h4 {
		font-size: 1.4rem;
	}

	p,
	.custom-container a {
		font-size: 1.5rem;
	}

	.col-md-4 {
		height: 30rem;
	}
}