/************************************
	MEDIA QUERIES
************************************/

@media screen and (max-width: 415px) {
	.navbar-brand {
		margin-left: 33%;
	}
}

@media screen and (max-width: 359px) {
	.navbar-brand {
		margin-left: 0;
	}
}

@media screen and (max-width: 991px) {
	.footer-right, .footer-left {
		text-align: center;
		/*display: none;*/
	}

	#contact {
		display: none;
	}
}