p {
	margin-bottom: 0;
}

.company {
	font-weight: bold; 
	text-transform: uppercase;
}

.portfolio-list-item {
	list-style: none;
	margin-top: 10px;
}

.portfolio-container,
.portfolio-list-item {
	display: none;
}

.portfolio-nav {
	padding: 50px 0 20px;
}

.container ul .list-inline-item a {
	color: #fff;
}

.container ul .list-inline-item a:hover {
	color: #ff6c00;
	text-decoration: none;
}

.container ul .list-inline-item .active {
	color: #ff6c00;
}

.container .navbar-nav {
	padding: 0;
}

.main {
	margin-bottom: 50px;
}

.work-offered, .company {
	font-size: 15px;
}


@media screen and (min-width: 768px) {
	
	.portfolio-container,
	.portfolio-list-item {
		display: inline-block;
	}
}
