h2 {
    color: #fff;
    margin: 50px 0;
    text-align: center;
}

h3 {
    font-family: 'Avenir', sans-serif;
    margin-bottom: 40px;
}

hr {
    background-color: #929292;
    border: none;
    height: 1px;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 90%;
}

.col-xs-6 {
	width: 50%
}

.container-fluid {
    background-color: #252525;
    color: #fff;
    font-family: 'Times New Roman', serif;
    padding: 50px 0;
}

.custom-container {
    color: #fff;
    margin-bottom: -40px;
}

.custom-container h3 {
	margin-top: 70px;
	text-align: center;
}

.custom-container p {
	text-align: center;
}

.img-full {
	display: none;
}

.process {
    color: #929292;
    margin: 100px 0;
    text-align: center;
}

.process .row {
	margin-bottom: 40px;
}

.row .order-md-2 {
	display: none;
}


@media screen and (min-width: 768px) {

	.block-left {
		background-color: #ff6c00;
		border: 5px solid #252525;
		height: 20px;
		left: 5;
		position: absolute;
		top: 42px;
		width: 20px;
	}

	.block-right {
		background-color: #ff6c00;
		border: 5px solid #252525;
		height: 20px;
		right: 5px;
		position: absolute;
		top: 42px;
		width: 20px;
	}

	.company {
		color: #fff;
	    text-transform: uppercase;
	}

	.img-full {
		display: block;
	}

	.img-left {
		margin-left: 30px;
	}

	.img-mobile {
		display: none;
	}

	.img-right {
		margin-left: -30px;
	}

	.order-md-1 h4,
	.order-md-1 p {
		margin-right: -10px;
		text-align: right;
	}

	.order-md-2 hr {
		background-color: #252525;
		height: 5px;
		margin-left: 0;
		width: 100%;
	}

	.order-md-3 h4,
	.order-md-3 p {
		text-align: left;
	}

	.process .row {
		align-items: center;
		display: flex;
		margin: 90px 0;

	}

	.row .order-md-2 {
		display: block;
	}

	.work-offered {
	    color: #929292;
	    margin-bottom: 0;
	}
}