body {
	background-color: #000;
}

.btn-primary {
	background-color: #000;
	border: 5px solid #fff;
	color: #fff;
}

.btn-primary:hover {
	background-color: #ff6c00;
	border: 5px solid #ff6c00;
	color: #fff;
}

.navbar .container {
	padding: 0;
}