/************************************
	FONTS & TOGGLES
************************************/

@font-face {
	font-family: 'Avenir';
	src: url(fonts/AvenirLTStd-Roman.otf);
}

h2, .company, .container .center a, .feedback-container, .navbar-brand,
.navbar-custom .nav-link, #creations-foot, #zenith-foot,
#brand-strategy, #video, #website {
	font-family: 'Avenir', sans-serif;
}

.custom-container, .footer-left, .footer-right,
.work-offered {
	font-family: Times New Roman, serif;
}

.invisible {
	display: none;
}