/************************************
	FONTS & TOGGLES
************************************/

@font-face {
	font-family: 'Avenir';
	src: url(fonts/AvenirLTStd-Roman.otf);
}

body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
	outline: none;
	box-shadow: none !important;
}

h2, .company, .container .center a, .navbar-brand,
.navbar-custom .nav-link, #creations-foot, #zenith-foot,
#brand-strategy, #video, #website {
	font-family: 'Avenir', sans-serif;
}

.custom-container, .footer-left, .footer-right,
.work-offered {
	font-family: Times New Roman, serif;
}

.invisible {
	display: none;
}